$colorPrimary : #9356DC;
$colorSecondary : #FF79DA;
$colorTertiary : #99E2D0;
$backgroundBar : #eaeaea;
$backgroundBox : #f6f6f6;
$fonctionIcone : #7e7e7e;
$backgroundFooter : #353535;

$policeStandard : 'Roboto';
$policeLight : 'RobotoLight';
$policeTitre : 'Shrikhand';

$breakpoints :(
    tablette : 426px,
    desktopPort : 1081px,
    desktop : 1920px,
);